.select{
    width: 50%;
}
.form{
    margin-top: 90px;
}
.val{
    margin-left: 10px;
    width: 11% ;
}
.val1{
    margin-left: -280px;
}
.btn{
    background-color: green;
    color: white;
}
.title{
    margin-top: -112px;
}
